body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f3f3f3;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    color: black;
}
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, select, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
}

#output {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background: #ffffff;
    border-radius: 5px;
}

.output-item {
    margin-bottom: 8px;
}
